<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="IP_WEB_SERVICE" value="http://200.35.195.130:9095/" />-->
    <add key="IP_WEB_SERVICE" value="http://localhost:58777/" />
    <add key="TIMEOUT_WEB_SERVICE" value="30" />
    <add key="TIMEOUT_MYSQL" value="10" />
  </appSettings>
</configuration>